{% extends 'layout.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}

<h1 class="display-1">Welcome to Quiz Master</h1>
<h3 class="display-1">Login</h3>
<form action="" class="form" method="post">
    <div class="form-group">
        <label for="username" class="form-label">Username(E-mail):</label>
        <input type="text" name="username" required class="form-control">
    </div>
    <div class="form-group">
        <label for="password" class="form-label">Password:</label>
        <input type="password" name="password" required class="form-control">
    </div>
    <div class="form-group-btn">
        <input type="submit" value="Login" class="btn btn-primary">
        <a href="{{url_for('register')}}" >Create new user?</a>
    </div>
</form>
    
{% endblock %}

{% block style %}
    <style>
        .form-group-btn{
            display: flex;
            justify-content: space-between;
        }
        .display-1{
            display: flex;
            justify-content: center;
        }
    </style>
{% endblock %}