<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <form id="searchForm" method="GET">
                <div class="input-group">
                    <select 
                        name="redirect" 
                        id="redirect" 
                        class="form-select"
                        onchange="updateFormAction(this.value)">
                        <option value="" selected disabled>Select an option</option>
                        <option value="{{ url_for('admin') }}">Subject</option>
                        <option value="{{ url_for('quiz') }}">Quiz</option>
                        <option value="{{ url_for('user') }}">User</option>
                    </select>
                    <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function updateFormAction(url) {
        const form = document.getElementById('searchForm');
        if (url) {
            form.action = url;
        }
    }
</script>
